.container {
    display: grid;
    grid-template-columns: 1fr;
}

.item {
    background-color: lightblue;
    padding: 20px;
    margin: 10px;
}

button {
    width: 200px;
    height: 100px;
    outline: none;
    border: none;
    transition: 0.4s;
}

button:hover {
    background-color: black;
    color: white;
    font-weight: 1000;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

nav {
    display: flex;
    justify-content: center;
}

@media(max-width: 600px) {
    .container {
        flex-direction: column;
    }
    body {
        background: red;
    }

    button {
        width: 200px;
        height: 100px;
        outline: none;
        border: none;
        transition: 0.4s;
        background: black;
        color: white
    }

    button:hover {
        background-color: white;
        color: black;
        font-weight: 1000;
    }
}